.app-layout {
    
    &--main {
       &-container {
           margin-top: 80px;
       }
    }

    &--footer {
        background-color: #f5f5f5;
        bottom: 0;
        height: 60px;
        line-height: 60px;
        position: absolute;
        width: 100%;
    }
}